<div class="container-fluid p-0">
  <div class="timeline">
    <div class="outer">
      <div class="card spa-bg-1">
        <div class="info">
          <h3 class="title title-cyber-cards">Dados</h3>
          <div class="row">
            <div class="col-md-6 col-text-cyber">
              <p class="desc-cyber-cards">
                Soluções de proteção de dados são cruciais para garantir a
                segurança cibernética e proteger informações confidenciais
                contra ameaças externas. A AIQON oferece soluções para os
                diversos níveis de proteção de dados.
              </p>
              <div class="row">
                <div class="col-md-3 btn btn-step-home">
                  Mapeamento e Classificação de Dados
                </div>
                <div class="col-md-3 btn btn-step-home">
                  Tokenização de Dados
                </div>
                <div class="col-md-3 btn btn-step-home">
                  Trilha de Auditoria
                </div>
                <div class="col-md-3 btn btn-step-home">
                  Criptografia de E-mail
                </div>
              </div>
            </div>
            <div class="col-md-6 content-item-card">
              <img
                src="/assets/img/home/vertical-slider/data.svg"
                class="img-item-card"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card spa-bg-3" id="card-idendity">
        <div class="info">
          <h3 class="title title-cyber-cards text-margin-right">Identidade</h3>
          <div class="row row-reverse">
            <div class="col-md-6 col-text-cyber">
              <p class="desc-cyber-cards">
                Proteja sua identidade e previna ataques:
              </p>
              <div class="row">
                <div class="col-md-3 btn btn-step-home">
                  Gestão de acesso a dados
                </div>
                <div class="col-md-3 btn btn-step-home">
                  MFA em ambientes legados
                </div>
                <div class="col-md-3 btn btn-step-home">Reset de senhas</div>
                <div class="col-md-3 btn btn-step-home">Política de senha</div>
              </div>
            </div>
            <div class="col-md-6 content-item-card">
              <img
                src="/assets/img/home/vertical-slider/identify.svg"
                class="img-item-card"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="card spa-bg-5">
        <div class="info">
          <h3 class="title title-cyber-cards">EndPoint</h3>
          <div class="row">
            <div class="col-md-6 col-text-cyber margin-top-endpoint">
              <p class="desc-cyber-cards">
                Proteja os endpoint e servidores contra ameaças cibernéticas,
                garantindo a segurança do ambiente e dados. Seja nos endpoints
                locais e remotos.
              </p>
              <div class="row">
                <div class="col-md-3 btn btn-step-home">Patch Management</div>
                <div class="col-md-3 btn btn-step-home">Vulnerabilidades</div>
                <div class="col-md-3 btn btn-step-home">
                  Deploy de softwares
                </div>
                <div class="col-md-3 btn btn-step-home">
                  Proteção contra ransomware e malware
                </div>
              </div>
            </div>
            <div class="col-md-6 content-item-card responsive-mobile">
              <img
                src="/assets/img/home/vertical-slider/endpoint.svg"
                class="img-item-card"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card spa-bg-4">
        <div class="info">
          <h3 class="title title-cyber-cards text-margin-right">
            Soluções Enterprise
          </h3>
          <div class="row">
            <div class="col-md-6 col-text-cyber">
              <p class="desc-cyber-cards">
                Nossas soluções de cibersegurança foram projetadas para atender
                às necessidades de segurança complexas de grandes empresas. Com
                recursos avançados de proteção, detecção e resposta, nossa
                solução ajuda a garantir a segurança cibernética de sua
                organização, minimizando o risco de ataques e protegendo seus
                dados críticos.
              </p>
              <div class="row">
                <div class="col-md-3 btn btn-step-home">
                  Interceptação e Defesa contra ataques
                </div>
                <div class="col-md-3 btn btn-step-home">
                  Automatização de SOC
                </div>
                <div class="col-md-3 btn btn-step-home">
                  okenização de dados
                </div>
              </div>
            </div>
            <div class="col-md-6 content-item-card">
              <img
                src="/assets/img/home/vertical-slider/solution.svg"
                class="img-item-card"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="border-last">
        <div class="info text-slongan">
          <h3 class="title title-cyber-cards text-margin-right text-slongan">
            The Definitive CyberSecurity
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img src="/assets/img/home/aiqon-360.svg" class="img-aiqon-360" alt="" />
    </div>
    <div class="col-md-3">
      <p class="title-slogan">
        Oferecemos soluções que auxiliam nossos clientes a se protegerem de
        ameaças cibernéticas e a otimizarem seus ambientes de tecnologia.
      </p>
    </div>
  </div>
</div>

<style>
  .text-margin-right {
    padding-right: 3vw;
  }
  /*
  .spa-bg-1 {
    background-image: url(/assets/img/home/vertical-slider/1bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
  }
  .spa-bg-3 {
    background-image: url(/assets/img/home/vertical-slider/3bg.png);
    background-repeat: no-repeat;
     background-size: 100vw 100vh;
  }
  .spa-bg-4 {
    background-image: url(/assets/img/home/vertical-slider/4bg.png);
    background-repeat: no-repeat;
     background-size: 100vw 100vh;
  }
  .spa-bg-5 {
    background-image: url(/assets/img/home/vertical-slider/5bg.png);
    background-repeat: no-repeat;
     background-size: 100vw 100vh;
  }
  */
  .btn-step-home {
    border: 2px solid teal;
    border-radius: 10px;
    margin: 10px 5px;
    height: 8vh;
    color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
  }
  .btn-step-home:hover {
    background-color: teal;
    color: white;
    transition: 0.3s;
  }
  .title-cyber-cards {
    font-size: 4em !important;
    color: teal;
    font-weight: bold;
    text-align: left;
    padding-left: 5vh;
  }
  .img-item-card {
    max-width: 25vw;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
  .col-text-cyber {
    padding-left: 7vw;
    padding-top: 5vh;
  }

  .col-text-cyber ul li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 2vh;
  }

  .col-text-cyber ul li::before {
  }
  .content-item-card {
    justify-content: center;
    display: flex;
  }
  .timeline {
    padding-top: 5px;
  }
  .desc-cyber-cards {
    font-size: 30px;

    color: gray;
  }

  /* Card container */
  .card {
    position: relative;
    max-width: 100vw;
    min-height: 80vh;
    background-color: transparent;
    border: none;
  }
  #border-last {
    left: 35vw;
    height: 30vh !important;
  }

  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid teal;
  }

  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 50px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }

  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 50px;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }

  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }

  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }

  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }

  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }

  /* Title of the card */
  .title {
    color: teal;
    position: relative;
  }

  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 999px;
    border: 3px solid teal;
  }

  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }

  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: 3px;
  }

  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: 3px;
  }
  .img-aiqon-360 {
    margin-left: -1vw;
    max-width: 50vw;
  }
  .title-slogan {
    font-size: 1.7em;
    color: gray;
    display: flex;
    padding-top: 8vh;
  }

  @media only screen and (max-width: 990px) {
    .text-identify {
      margin-top: 15vh;
    }

    .col-text-cyber {
    }
    .title-cyber-cards {
      font-size: 40px !important;
    }
    .desc-cyber-cards {
      font-size: 1.2em;
    }
    .card {
    }
    .img-item-card {
      max-width: 40vw;
    }
    .card:nth-child(even)::before {
      top: -1.5px;
    }
    .text-margin-right {
      padding-right: 40px;
    }

    .text-slongan {
      font-size: 1.5em !important;
    }
    #border-last {
      bottom: 500px !important;
      top: 0px !important;
      left: -2vw;
      max-height: 20vh !important;
    }
    .img-aiqon-360 {
      max-width: 100vw;
      margin-top: 5vh;
    }
  }
  .buttons {
  }
  .basicFrame {
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 4vh 10px;
    cursor: pointer;
  }

  .basicHead {
    position: relative;

    border-bottom: 0.4em solid #20bbab;
    color: gray;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }

  .basicHead > * {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .basicHead:hover {
    border-bottom: 0.4em solid teal !important;
  }

  .basicHead:hover .basicHeadInner {
    -webkit-transform: translatey(-100%);
    transform: translatey(-100%);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  .basicHeadInner2 {
    position: absolute;
    top: 0;
    color: #bec0c2;
    -webkit-transform: translatey(100%);
    transform: translatey(100%);
    opacity: 0;
  }

  .basicHead:hover .basicHeadInner2 {
    position: absolute;
    top: 0;
    opacity: 1;
    border-bottom: 0.4em solid #f7a11a;
    -webkit-transform: translatey(0%);
    transform: translatey(0%);
  }

  .basicFrame:nth-child(2) .basicHead {
    border-bottom: 0.4em solid #f7a11a;
  }

  .basicFrame:nth-child(3) .basicHead {
    border-bottom: 0.4em solid #c32850;
  }
  .basicFrame:nth-child(4) .basicHead {
    border-bottom: 0.4em solid #818285;
  }
</style>
