<div class="container-fluid content-conect" id="content-conect">
  <div class="item-content-conect">
    <div class="row row-reverse">
      <div class="col-md-1">
        <h3 class="title title-cyber-cards txt-float">Dados</h3>
      </div>

      <div class="col-md-5 col-text-cyber">
        <p class="desc-cyber-cards">
          Soluções de proteção de dados são cruciais para garantir a segurança
          cibernética e proteger informações confidenciais contra ameaças
          externas. A AIQON oferece soluções para os diversos níveis de proteção
          de dados.
        </p>
        <div class="row">
          <div class="col-md-4">
            <a class="link-home btn btn-step-home" target="_blank" href="/ndc/"
              >Mapeamento e Classificação de Dados</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/compliance/"
            >
              Tokenização de Dados</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/netwrix"
            >
              Trilha de Auditoria</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/virtru/"
            >
              Criptografia de E-mail</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 content-item-card">
        <img
          src="/assets/img/home/vertical-slider/data.svg"
          class="img-item-card"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="item-content-conect">
    <div class="row row-noreverse">
      <div class="col-md">
        <h3 class="title title-cyber-cards text-identify">Identidade</h3>
      </div>

      <div class="col-md-5 col-text-cyber">
        <p class="desc-cyber-cards">
          A segurança de identidade e acesso é essencial para proteger contra
          ataques cibernéticos. Com soluções adequadas, sua organização pode
          garantir que informações críticas permaneçam confidenciais e
          protegidas.
        </p>
        <div class="row">
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/sbpam/"
            >
              Gestão de acesso a dados</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/silverfort/"
            >
              MFA em ambientes legados</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/password-reset/"
            >
              Reset de senhas</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/policypak/"
            >
              Política de senha</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 content-item-card">
        <img
          src="/assets/img/home/vertical-slider/identify.svg"
          class="img-item-card"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="item-content-conect">
    <div class="row row-reverse">
      <div class="col-md-1">
        <h3 class="title title-cyber-cards margin-right-endpoint txt-float">
          EndPoint
        </h3>
      </div>

      <div class="col-md-5 col-text-cyber">
        <p class="desc-cyber-cards">
          Proteja os endpoint e servidores contra ameaças cibernéticas,
          garantindo a segurança do ambiente e dados. Seja nos endpoints locais
          e remotos.
        </p>
        <div class="row">
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/syxsense/"
            >
              Patch Management</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/syxsense/"
            >
              Vulnerabilidades</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/syxsense/"
            >
              Deploy de softwares</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/deep-instinct"
            >
              Proteção contra ransomware e malware</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 content-item-card responsive-mobile">
        <img
          src="/assets/img/home/vertical-slider/endpoint.svg"
          class="img-item-card"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="item-content-conect">
    <div class="row row-noreverse">
      <div class="col-md-2">
        <h3 class="title title-cyber-cards px-0">Soluções Enterprise</h3>
      </div>

      <div class="col-md-5 col-text-cyber enterprise">
        <p class="desc-cyber-cards">
          Nossas soluções de cibersegurança foram projetadas para atender às
          necessidades de segurança complexas de grandes empresas. Com recursos
          avançados de proteção, detecção e resposta, nossa solução ajuda a
          garantir a segurança cibernética de sua organização, minimizando o
          risco de ataques e protegendo seus dados críticos.
        </p>
        <div class="row">
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/stealthintercept/"
            >
              Interceptação e Defesa contra ataques</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/deep-instinct"
            >
              Automatização de SOC</a
            >
          </div>
          <div class="col-md-4">
            <a
              class="link-home btn btn-step-home"
              target="_blank"
              href="/deep-instinct"
            >
              Tokenização de dados</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 content-item-card">
        <img
          src="/assets/img/home/vertical-slider/solution.svg"
          class="img-item-card"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="item-content-conect height-min-item" id="last-item"></div>
</div>
<div class="container-fluid mb-5 row-360">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img src="/assets/img/home/aiqon-360.svg" class="img-aiqon-360" alt="" />
    </div>
    <div class="col-md-3">
      <p class="title-slogan">
        Oferecemos soluções que auxiliam nossos clientes a se protegerem de
        ameaças cibernéticas e a otimizarem seus ambientes de tecnologia.
      </p>
    </div>
  </div>
</div>
<script>
  var controller = new ScrollMagic.Controller();
  var boxes = document.querySelectorAll("#content-conect div");

  for (var i = 0; i < boxes.length; i++) {
    var tween = TweenMax.fromTo(
      boxes[i],
      1,
      { autoAlpha: 1 },
      { autoAlpha: 0 }
    );
    var scene = new ScrollMagic.Scene({
      triggerElement: boxes[i],
      duration: "100%",
    })

      .setTween(tween)
      .addIndicators()
      .addTo(controller);
  }
</script>

<style>
  .content-conect {
    padding: 0 2vw;
  }
  .height-min-item {
    height: 2vh !important;
    width: 50vw;
  }
  .link-home {
    color: gray;
  }
  .link-home:hover {
    text-decoration: none;
    color: white;
  }
  .title {
    color: teal;
    position: relative;
  }

  /* Timeline dot  */
  .txt-float-left {
  }
  .margin-right-endpoint {
    margin-left: -3vw;
  }
  .item-content-conect {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 5px solid;
    display: flex;
    align-items: center;
    /*
    -o-border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%); */
    border-image-slice: 1;
    border-width: 5px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: teal;
    height: 90vh;
  }
  .item-content-conect:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.3em;
    width: 1.3em;
    background-color: white;
    border: solid 5px teal;
    text-align: center;
    line-height: 1.25em;
    color: transparent;
    font-size: 1em;
  }

  .item-content-conect:nth-child(odd) {
    border-right: 5px solid;
    padding-left: 0;
  }
  .item-content-conect:nth-child(odd):before {
    left: 100%;
    margin-left: -13px;
  }

  .item-content-conect:nth-child(even) {
    border-left: 5px solid;
    padding-right: 0;
  }
  .item-content-conect:nth-child(even):before {
    right: 100%;
    margin-right: -13px;
  }

  .item-content-conect:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .item-content-conect:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-step-home {
    border: 2px solid teal;
    border-radius: 10px;
    margin: 15px 5px;
    height: 7vh;
    color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
    max-width: 11vw;
  }
  .btn-step-home:hover {
    background-color: teal;
    color: white;
    transition: 0.3s;
  }
  .title-cyber-cards {
    font-size: 4em !important;
    color: teal;
    font-weight: bold;
    text-align: left;
    padding-left: 5vh;
  }
  .img-item-card {
    max-width: 25vw;
  }
  .row-reverse {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .row-noreverse {
    align-items: center;
    justify-content: center;
  }
  .enterprise {
    margin-left: 5vw;
  }
  .col-text-cyber {
    padding-top: 5vh;
    padding-right: 4vw;
  }

  .col-text-cyber ul li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 2vh;
  }

  .col-text-cyber ul li::before {
  }
  .content-item-card {
    justify-content: center;
    display: flex;
  }
  .timeline {
    padding-top: 5px;
  }
  .desc-cyber-cards {
    font-size: 24px;

    color: gray;
  }
  .link-home {
    color: gray;
  }
  .link-home:hover {
    text-decoration: none;
    color: white;
  }

  /* Card container */
  .card {
    position: relative;
    max-width: 100vw;
    min-height: 80vh;
    background-color: transparent;
    border: none;
  }
  #border-last {
    left: 35vw;
    height: 30vh !important;
  }
  .row-360 {
    margin-top: -19vh;
    margin-left: -10px;
  }
  .img-aiqon-360 {
    margin-left: -1vw;
    max-width: 50vw;
    margin-bottom: 20vh;
  }
  .title-slogan {
    font-size: 1.7em;
    color: gray;
    display: flex;
    padding-top: 8vh;
  }

  @media only screen and (max-width: 990px) {
    .content-conect {
      padding: 0 5vw;
    }
    .item-content-conect:nth-child(odd):before {
      top: 6.3vh;
    }
    .item-content-conect:nth-child(even):before {
      top: 6.3vh;
    }
    .txt-float {
      float: right;
    }
    .item-content-conect {
      height: 120vh;
      padding: 10px;
    }
    .btn-step-home {
      max-width: 90vw;
      margin: 3px;
    }
    .text-identify {
      margin-top: -9.3vh;
      margin-left: -8vw;
    }
    .margin-right-endpoint {
      margin-top: -11vh;
    }
     .height-min-item {
    height: 8vh !important;}
    

    
    .title-cyber-cards {
      font-size: 40px !important;
    }
    .desc-cyber-cards {
      font-size: 1.2em;
      text-align: right;
    }
    .card {
    }
    .img-item-card {
      max-width: 70vw;
      margin-top: 5vh;
    }
    .card:nth-child(even)::before {
      top: -1.5px;
    }
    .text-margin-right {
      padding-right: 40px;
    }

    .text-slongan {
      font-size: 1.5em !important;
    }
    #border-last {
      bottom: 500px !important;
      top: -0.9px !important;
      left: -2vw;
      min-height: 40vh !important;
    }
    .height-min-item{
      width: 47vw;
      height: 30vh;
    }
    .img-aiqon-360 {
      max-width: 90vw !important;
      margin-top: 5vh;
      margin-left: 1vw;
      background-color: #f9f9f9;
      margin-bottom: 1vh !important;
    }
  }
  .row-360 {
    margin-top: 10vh;
  }
  
  .title-slogan {
    font-size: 1.7em;
    color: gray;
    display: flex;
    padding-top: 8vh;
  }
</style>
