<div class="container-fluid p-0">
  <div class="timeline">
    <div class="outer">
      <div class="card spa-bg-1">
        <div class="info">
          <h3 class="title title-cyber-cards">Dados</h3>
          <div class="row">
            <div class="col-md-6 col-text-cyber">
              <p class="desc-cyber-cards">
                Soluções de proteção de dados são cruciais para garantir a
                segurança cibernética e proteger informações confidenciais
                contra ameaças externas. A AIQON oferece soluções para os
                diversos níveis de proteção de dados.
              </p>
              <div class="row">
                <div class="buttons">
                  <div class="basicFrame" onclick="window.location='/ndc'">
                    <div class="basicHead">
                      <div class="basicHeadInner">
                        Mapeamento e Classificação de Dados
                      </div>
                      <div class="basicHeadInner2">
                        <p>Mapeamento e Classificação de Dados</p>
                      </div>
                    </div>
                  </div>

                  <div class="basicFrame" onclick="window.location='/comforte'">
                    <div class="basicHead">
                      <div class="basicHeadInner">Tokenização de Dados</div>
                      <div class="basicHeadInner2">
                        <p>Tokenização de Dados</p>
                      </div>
                    </div>
                  </div>
                  <div class="basicFrame" onclick="window.location='/netwrix'">
                    <div class="basicHead">
                      <div class="basicHeadInner">Trilha de Auditoria</div>
                      <div class="basicHeadInner2">Trilha de Auditoria</div>
                    </div>
                  </div>
                  <div class="basicFrame" onclick="window.location='/virtru'">
                    <div class="basicHead">
                      <div class="basicHeadInner">Criptografia de E-mail</div>
                      <div class="basicHeadInner2">Criptografia de E-mail</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <ul>
              
                
                <li>
                  <b>Mapeamento e Classificação de Dados</b> Minimize a
                  probabilidade de violação de dados identificando os mais
                  críticos.
                </li>
                <li>
                  <b>Tokenização de Dados</b> Substitua informações
                  confidenciais por valores aleatórios e únicos, impedindo
                  acesso indevido.
                </li>
                <li>
                  <b>Trilha de Auditoria</b> Obtenha rapidamente informações
                  exigidas por gerentes e auditores.
                </li>
                <li>
                  <b>Criptografia de E-mail</b> Garanta a segurança e
                  privacidade das suas comunicações por e-mail.
                </li>
              </ul>
            --></div>
            <div class="col-md-6 content-item-card">
              <img
                src="/assets/img/home/vertical-slider/data.svg"
                class="img-item-card"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card spa-bg-3" id="card-idendity">
        <div class="info">
          <h3 class="title title-cyber-cards text-margin-right">Identidade</h3>
          <div class="row row-reverse">
            <div class="col-md-6 col-text-cyber">
              <p class="desc-cyber-cards">
                Proteja sua identidade e previna ataques:
              </p>
              <div class="row">
                <div class="buttons">
                  <div class="basicFrame" onclick="window.location='/sbpam'">
                    <div class="basicHead">
                      <div class="basicHeadInner">Gestão de acesso a dados</div>
                      <div class="basicHeadInner2">
                        Gestão de acesso a dados
                      </div>
                    </div>
                  </div>

                  <div
                    class="basicFrame"
                    onclick="window.location='/silverfort'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">MFA em ambientes legados</div>
                      <div class="basicHeadInner2">
                        MFA em ambientes legados
                      </div>
                    </div>
                  </div>
                  <div
                    class="basicFrame"
                    onclick="window.location='/password-reset'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">Reset de senhas</div>
                      <div class="basicHeadInner2">Reset de senhas</div>
                    </div>
                  </div>
                  <div
                    class="basicFrame"
                    onclick="window.location='/policypak'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">Política de senha</div>
                      <div class="basicHeadInner2">Política de senha</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--
              <ul>
                <li>
                  Gestão de acesso a dados: Controle quem acessa o que, quando e
                  por que, com Gerenciamento de Acesso Privilegiado (PAM)
                </li>
                <li>
                  MFA em ambientes legados: Leve o MFA para sistemas antigos e
                  ferramentas como Powershell e CMD
                </li>
                <li>
                  Reset de senhas: Permita que usuários redefinam suas próprias
                  senhas do AD ou Azure AD, reduzindo chamados de TI
                </li>
                <li>
                  Política de senha: Forçar a política de senha, com dicionário
                  e políticas personalizadas, para evitar o uso de senhas
                  vazadas na rede.
                </li>
              </ul>-->
            </div>
            <div class="col-md-6 content-item-card">
              <img
                src="/assets/img/home/vertical-slider/identify.svg"
                class="img-item-card"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card spa-bg-4">
        <div class="info">
          <h3 class="title title-cyber-cards">Soluções Enterprise</h3>
          <div class="row">
            <div class="col-md-6 col-text-cyber">
              <p class="desc-cyber-cards">
                Nossas soluções de cibersegurança foram projetadas para atender
                às necessidades de segurança complexas de grandes empresas. Com
                recursos avançados de proteção, detecção e resposta, nossa
                solução ajuda a garantir a segurança cibernética de sua
                organização, minimizando o risco de ataques e protegendo seus
                dados críticos.
              </p>
              <div class="row">
                <div class="buttons">
                  <div class="basicFrame" onclick="window.location='/sbpam'">
                    <div class="basicHead">
                      <div class="basicHeadInner">
                        Interceptação e Defesa contra ataques
                      </div>
                      <div class="basicHeadInner2">
                        Interceptação e Defesa contra ataques
                      </div>
                    </div>
                  </div>

                  <div
                    class="basicFrame"
                    onclick="window.location='/silverfort'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">Automatização de SOC</div>
                      <div class="basicHeadInner2">Automatização de SOC</div>
                    </div>
                  </div>
                  <div
                    class="basicFrame"
                    onclick="window.location='/password-reset'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">Tokenização de dados</div>
                      <div class="basicHeadInner2">Tokenização de dados</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--
              <ul>
                <li>
                  <b>Interceptação e Defesa contra ataques</b> detecte e
                  responda a comportamento anormal e ataques avançados com alta
                  precisão e velocidade.
                </li>
                <li>
                  <b>Automatização de SOC</b> Automação low-code para a
                  segurança do seu ambiente, capacite equipes para acompanhar os
                  alertas, ameaças e processos de segurança complexos
                  necessários para proteger sua organização
                </li>
                <li>
                  <b>Tokenização de dados</b> substitua as informações
                  confidenciais por um valor aleatório e único, impedindo o
                  acesso indevido até mesmo em casos de roubo de dados
                </li>
              </ul>-->
            </div>
            <div class="col-md-6 content-item-card">
              <img
                src="/assets/img/home/vertical-slider/solution.svg"
                class="img-item-card"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card spa-bg-5">
        <div class="info">
          <h3 class="title title-cyber-cards text-margin-right">EndPoint</h3>
          <div class="row row-reverse">
            <div class="col-md-6 col-text-cyber margin-top-endpoint">
              <p class="desc-cyber-cards">
                Proteja os endpoint e servidores contra ameaças cibernéticas,
                garantindo a segurança do ambiente e dados. Seja nos endpoints
                locais e remotos.
              </p>
              <div class="row">
                <div class="buttons">
                  <div class="basicFrame" onclick="window.location='/sbpam'">
                    <div class="basicHead">
                      <div class="basicHeadInner">Gestão de acesso a dados</div>
                      <div class="basicHeadInner2">
                        Gestão de acesso a dados
                      </div>
                    </div>
                  </div>

                  <div
                    class="basicFrame"
                    onclick="window.location='/silverfort'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">Patch Management</div>
                      <div class="basicHeadInner2">Patch Management</div>
                    </div>
                  </div>
                  <div
                    class="basicFrame"
                    onclick="window.location='/password-reset'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">Vulnerabilidades</div>
                      <div class="basicHeadInner2">Vulnerabilidades</div>
                    </div>
                  </div>
                  <div
                    class="basicFrame"
                    onclick="window.location='/policypak'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">Deploy de softwares</div>
                      <div class="basicHeadInner2">Deploy de softwares</div>
                    </div>
                  </div>
                  <div
                    class="basicFrame"
                    onclick="window.location='/policypak'"
                  >
                    <div class="basicHead">
                      <div class="basicHeadInner">
                        Proteção contra ransomware e malware
                      </div>
                      <div class="basicHeadInner2">
                        Proteção contra ransomware e malware
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--
              <ul>
                <li>
                  <b>Patch Management</b>o automatize e simplifique o
                  gerenciamento de patches, garantindo que seus sistemas estejam
                  sempre atualizados e protegidos contra vulnerabilidades
                  conhecidas.
                </li>
                <li>
                  <b>Vulnerabilidades</b>o identifique e corrija
                  vulnerabilidades de segurança em tempo hábil, reduzindo o
                  risco de brechas de segurança e protegendo seus ativos de T.I.
                </li>
                <li>
                  <b>Deploy de softwares</b>o Simplifique e automatize o
                  processo de implantação de software em toda a organização,
                  economizando tempo e recursos, enquanto garante que todos os
                  dispositivos estejam atualizados e executando a versão mais
                  recente dos seus aplicativos.
                </li>
                <li>
                  <b>Proteção contra ransomware e malware</b>o Detecte e
                  bloqueie ataques em tempo real, evite a perda de dados e
                  mantenha a continuidade dos negócios com nossa solução baseada
                  em deep learning
                </li>
              </ul>-->
            </div>
            <div class="col-md-6 content-item-card responsive-mobile">
              <img
                src="/assets/img/home/vertical-slider/endpoint.svg"
                class="img-item-card"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="border-last">
        <div class="info text-slongan">
          <h3 class="title title-cyber-cards text-margin-right text-slongan">
            The Definitive CyberSecurity
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img src="/assets/img/home/aiqon-360.svg" class="img-aiqon-360" alt="" />
    </div>
    <div class="col-md-3">
      <p class="title-slogan">
        Oferecemos soluções que auxiliam nossos clientes a se protegerem de
        ameaças cibernéticas e a otimizarem seus ambientes de tecnologia.
      </p>
    </div>
  </div>
</div>

<style>
  .text-margin-right {
    padding-right: 3vw;
  }
  /*
  .spa-bg-1 {
    background-image: url(/assets/img/home/vertical-slider/1bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
  }
  .spa-bg-3 {
    background-image: url(/assets/img/home/vertical-slider/3bg.png);
    background-repeat: no-repeat;
     background-size: 100vw 100vh;
  }
  .spa-bg-4 {
    background-image: url(/assets/img/home/vertical-slider/4bg.png);
    background-repeat: no-repeat;
     background-size: 100vw 100vh;
  }
  .spa-bg-5 {
    background-image: url(/assets/img/home/vertical-slider/5bg.png);
    background-repeat: no-repeat;
     background-size: 100vw 100vh;
  }
  */
  .title-cyber-cards {
    font-size: 4em !important;
    color: teal;
    font-weight: bold;
    text-align: left;
    padding-left: 5vh;
  }
  .img-item-card {
    max-width: 25vw;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
  .col-text-cyber {
    padding-left: 7vw;
    padding-top: 5vh;
  }

  .col-text-cyber ul li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 2vh;
  }

  .col-text-cyber ul li::before {
  }
  .content-item-card {
    justify-content: center;
    display: flex;
  }
  .timeline {
    padding-top: 5px;
  }
  .desc-cyber-cards {
    font-size: 30px;

    color: gray;
  }

  /* Card container */
  .card {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    background-color: transparent;
    border: none;
  }
  #border-last {
    left: 35vw;
    height: 30vh;
  }

  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid teal;
  }

  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 50px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }

  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 50px;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }

  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }

  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }

  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }

  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }

  /* Title of the card */
  .title {
    color: teal;
    position: relative;
  }

  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 999px;
    border: 3px solid teal;
  }

  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }

  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: 3px;
  }

  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: 3px;
  }
  .img-aiqon-360 {
    margin-left: -1vw;
    max-width: 50vw;
  }
  .title-slogan {
    font-size: 1.7em;
    color: gray;
    display: flex;
    padding-top: 8vh;
  }

  @media only screen and (max-width: 990px) {
    .text-identify {
      margin-top: 15vh;
    }

    .col-text-cyber {
    }
    .title-cyber-cards {
      font-size: 40px !important;
    }
    .desc-cyber-cards {
      font-size: 1.2em;
    }
    .card {
      min-height: 110vh;
    }
    .img-item-card {
      max-width: 40vw;
    }
    .card:nth-child(even)::before {
      top: -1.5px;
    }
    .text-margin-right {
      padding-right: 40px;
    }

    .text-slongan {
      margin-left: -21vw;
    }
    #border-last {
      display: none;
    }
    .img-aiqon-360 {
      display: none;
    }
  }
  .buttons {
  }
  .basicFrame {
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 4vh 10px;
    cursor: pointer;
  }

  .basicHead {
    position: relative;

    border-bottom: 0.4em solid #20bbab;
    color: gray;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }

  .basicHead > * {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .basicHead:hover {
    border-bottom: 0.4em solid teal !important;
  }

  .basicHead:hover .basicHeadInner {
    -webkit-transform: translatey(-100%);
    transform: translatey(-100%);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  .basicHeadInner2 {
    position: absolute;
    top: 0;
    color: #bec0c2;
    -webkit-transform: translatey(100%);
    transform: translatey(100%);
    opacity: 0;
  }

  .basicHead:hover .basicHeadInner2 {
    position: absolute;
    top: 0;
    opacity: 1;
    border-bottom: 0.4em solid #f7a11a;
    -webkit-transform: translatey(0%);
    transform: translatey(0%);
  }

  .basicFrame:nth-child(2) .basicHead {
    border-bottom: 0.4em solid #f7a11a;
  }

  .basicFrame:nth-child(3) .basicHead {
    border-bottom: 0.4em solid #c32850;
  }
  .basicFrame:nth-child(4) .basicHead {
    border-bottom: 0.4em solid #818285;
  }
</style>
