<style>
  .container-fluid.-deal {
    background-image: url("assets/img/common/bg_certifield.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .container-fluid.-deal > .row {
    max-width: 1200px;
    margin: 0 auto;
    height: 200px;
  }
  .netwrix-certifield {
    max-width: 30vw;
  }
</style>
<div class="container-fluid -deal py-3">
  <div class="row my-5 justify-content-center">
    <img
      src="/assets/img/common/netwrix-partner.svg"
      class="netwrix-certifield"
      alt=""
    />
  </div>
</div>
